body {
    background: #f5f7fa;
    padding: 40px;
    font-family: Montserrat;
}

header,
footer,
section {
    border-bottom: 1px solid black;
}


/* .topbar {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.studio {
    position: absolute;
    width: 57px;
    height: 10px;
    left: 445px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.portfolio {
    position: absolute;
    width: 294px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.contacts {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}

.tel {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
}

.email {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
} */